@charset "UTF-8";
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media (min-width: 1200px) {
  .is-sp {
    display: none;
  }
}
img {
  width: 100%;
}

a {
  color: inherit;
}

body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
  font-size: 16px;
  color: #3E3E3E;
  background: #F3F3F3;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 60px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .section__title {
    font-size: 30px;
    padding-top: 10px;
  }
}

.section__title-left {
  font-size: 36px;
  font-weight: bold;
  padding-top: 64px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .section__title-left {
    padding-top: 40px;
  }
}

.contact__btn {
  display: inline-block;
  width: 280px;
  max-width: 100%;
  height: 50px;
  background: #FFAA3B;
  color: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 16px 50px;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 1200px) {
  .contact__btn:not(.-submit):hover {
    background: #F18900;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 767px) {
  .contact__btn {
    width: 222px;
    height: 45px;
    padding: 13px 10px;
    font-size: 16px;
  }
}

.util-btn {
  width: 236px;
  display: inline-block;
  letter-spacing: 4px;
  font-size: 20px;
  padding: 20px 80px;
  background: #fff;
  border: 1px solid #707070;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .util-btn {
    width: 268px;
    font-size: 18px;
    padding: 18px 80px;
  }
}
.util-btn:hover {
  transition: all 0.3s ease 0s;
  background: #707070;
  color: #fff;
}

.header {
  height: 83px;
  background: rgba(255, 255, 255, 0.1019607843);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  position: fixed;
}
@media (max-width: 767px) {
  .header {
    height: 68px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    position: fixed;
    z-index: 100;
    background: #fff;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
}

@media (min-width: 768px) {
  .header__title {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__title {
    font-size: 23px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 16px;
    font-family: "Montserrat", sans-serif;
  }
}

.drawer-hamburger {
  top: 4px;
  z-index: 200;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
  height: 3px;
  width: 27px;
}

.drawer-open .drawer-hamburger-icon {
  background: transparent;
}
.drawer-open .drawer-hamburger-icon::before, .drawer-open .drawer-hamburger-icon::after {
  background: #fff;
}

.drawer--right .drawer-nav {
  right: -17.25rem;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 17em;
}

.drawer--right.drawer-open {
  width: 80%;
}

.header__nav {
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .header__nav {
    height: 100%;
  }
}
@media (max-width: 767px) {
  .header__nav {
    top: 0;
    z-index: 200;
    width: 17em;
  }
}

@media (max-width: 767px) {
  .header__nav-item:not(:first-child) {
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .header__nav-list {
    display: flex;
    font-family: "Montserrat", sans-serif;
  }
  .header__nav-list .header__nav-item:not(:first-child) {
    margin-left: 40px;
  }
}
@media (max-width: 767px) {
  .header__nav-list {
    display: block;
    margin-top: 160px;
  }
}

.header__nav-item-link {
  color: #3E3E3E;
  display: block;
  text-decoration: none;
  position: relative;
  letter-spacing: -0.025em;
}
@media (max-width: 767px) {
  .header__nav-item-link {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
}
.header__nav-item-link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .header__nav-item-link::after {
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header__nav-item-link:hover::after {
  background: #3E3E3E;
}

.drawer__background {
  background: #3E3E3E;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 150;
  display: none;
}
.drawer__background.is-active {
  display: block;
}

.top {
  background-image: url(../img/mv.png);
  background-position: 24% center;
  background-size: cover;
  height: 648px;
  position: relative;
}
@media (min-width: 768px) {
  .top {
    background-position: center center;
  }
}
@media (max-width: 767px) {
  .top {
    height: 668px;
  }
}

@media (min-width: 768px) {
  .top__inner {
    margin: 0 auto;
    width: 1240px;
    padding: 228px 12px 0 0;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .top__inner {
    padding: 220px 16px 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .top__message {
    margin-left: auto;
    max-width: 600px;
  }
}

.top__title {
  font-weight: bold;
  line-height: 1.6666666667;
  text-align: left;
  font-size: 24px;
}
@media (min-width: 768px) {
  .top__title {
    font-size: 32px;
    line-height: 1.5;
  }
}

.top__subtitle {
  font-weight: bold;
  line-height: 1.45;
  letter-spacing: 0.025em;
  font-size: 18px;
  margin-top: 26px;
}
@media (max-width: 767px) {
  .top__subtitle {
    font-size: 14px;
    line-height: 1.4285714286;
    margin-top: 20px;
    letter-spacing: 0;
  }
}

.top__btn {
  margin-top: 44px;
}
@media (max-width: 767px) {
  .top__btn {
    margin-top: 31px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .news {
    margin: 120px auto 0;
    width: 1200px;
    padding: 0;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .news {
    margin: -40px 16px 0;
    position: relative;
    z-index: 1;
  }
}

.news-inner {
  background: #fff;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}
@media (min-width: 1200px) {
  .news-inner {
    padding: 65px 48px 40px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .news-inner {
    padding: 36px 0 38px;
  }
}

.news__title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .news__title {
    font-size: 30px;
    padding-top: 10px;
  }
}

.news__list {
  border-top: solid 2px #f0f0f0;
  margin-top: 62px;
}
@media (max-width: 767px) {
  .news__list {
    margin-top: 40px;
  }
}

.news__item {
  border-bottom: solid 2px #f0f0f0;
}

.news__item__link {
  align-items: center;
  color: #3e3e3e;
  display: flex;
  letter-spacing: 0.025em;
  position: relative;
  transition: background-color 0.2s;
}
@media (max-width: 767px) {
  .news__item__link {
    padding: 12px 34px 12px 16px;
  }
}
@media (min-width: 768px) {
  .news__item__link {
    font-size: 18px;
    padding: 34px 102px 43px 20px;
  }
  .news__item__link:after {
    right: 30px;
  }
  .news__item__link:hover {
    background-color: rgba(73, 115, 255, 0.1);
  }
}
.news__item__link:after {
  border-right: solid 3px #3e3e3e;
  border-top: solid 3px #3e3e3e;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  right: 22px;
  top: 47%;
  transform: translateY(-50%) rotate(45deg);
  width: 15px;
}
@media (max-width: 959px) {
  .news__item__link {
    flex-wrap: wrap;
  }
}

.news__item__date {
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 767px) {
  .news__item__date {
    font-size: 14px;
  }
}

.news__item__category {
  background: #fff;
  border: solid 2px #4973ff;
  border-radius: 30px;
  display: inline-block;
  font-size: 14px;
  line-height: 1.8;
  margin-left: 38px;
}
@media (min-width: 768px) {
  .news__item__category {
    padding: 0 30px;
    white-space: nowrap;
  }
}
@media (max-width: 767px) {
  .news__item__category {
    padding: 0 14px;
    line-height: 1.4;
    font-size: 12px;
  }
}
@media (max-width: 959px) {
  .news__item__category {
    margin-left: 20px;
  }
}

.news__item__text {
  line-height: 1.6;
  margin-left: 40px;
  letter-spacing: 0.025em;
}
@media (max-width: 767px) {
  .news__item__text {
    flex: 0 0 100%;
    font-size: 14px;
    line-height: 1.4285714286;
  }
}
@media (max-width: 959px) {
  .news__item__text {
    margin: 8px 0 0 0;
  }
}

.news__btn {
  text-align: center;
}

.more-btn {
  margin-top: 37px;
}
@media (max-width: 767px) {
  .more-btn {
    margin-top: 37px;
  }
}

.service {
  margin-top: 120px;
  background: #3E3E3E;
  height: 400px;
  position: relative;
}
@media (max-width: 767px) {
  .service {
    height: 480px;
    margin-top: 60px;
  }
}

.service__title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 66px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .service__title {
    padding-top: 39px;
    font-size: 30px;
    line-height: 1.3333333333;
  }
}

.service__container {
  margin: 64px auto 0;
  width: 1040px;
}
@media (min-width: 768px) {
  .service__container {
    padding: 0 40px;
    max-width: 100%;
  }
}

.service__items {
  background: #fff;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.16);
}
@media (min-width: 768px) {
  .service__items {
    display: flex;
    max-width: 100%;
    height: 330px;
    padding: 60px 45px;
  }
}
@media (max-width: 767px) {
  .service__items {
    display: block;
    padding: 40px 16px;
    margin: 40px 16px 0;
    max-width: 100%;
    height: 694px;
  }
}

@media (min-width: 768px) {
  .service__item {
    width: 230px;
    height: 210px;
  }
  .service__item:not(:first-child) {
    margin-left: 90px;
  }
}
@media (max-width: 767px) {
  .service__item:not(:first-child) {
    margin-top: 40px;
  }
}

.service__img {
  text-align: center;
}
.service__img img {
  width: 64px;
  height: 64px;
}

.service__sub__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .service__sub__title {
    line-height: 1.2;
  }
}

.service__copy {
  font-size: 14px;
  line-height: 1.7142857143;
  margin-top: 13px;
}

.results {
  background: #3e3e3e;
  margin: 58px 0 0 0;
  max-width: calc(50vw + 600px);
  padding: 40px 0 40px 16px;
  font-size: 36px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 768px) {
  .results {
    margin: 210px 0 0 auto;
    padding: 58px 0 60px 60px;
  }
}
@media (max-width: 767px) {
  .results {
    padding-top: 36px;
    margin-top: 390px;
  }
}

.results__title {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .results__title {
    text-align: center;
    font-size: 30px;
    margin-top: 7px;
  }
}

.results__wrapper {
  margin-top: 67px;
}
@media (max-width: 767px) {
  .results__wrapper {
    margin-top: 48px;
  }
}

.results__item {
  background: #fff;
  color: #3e3e3e;
  display: block;
}

.results__img img {
  width: 100%;
}

.results__item__text {
  padding: 12px 16px 20px;
}
@media (max-width: 767px) {
  .results__item__text {
    padding: 9px 12px 20px;
  }
}

.results__sub__title {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .results__sub__title {
    font-size: 14px;
  }
}

.results__copy {
  line-height: 1.5;
  margin-top: 10px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .results__copy {
    font-size: 12px;
    line-height: 1.5;
  }
}

.results-pagination {
  position: static !important;
  margin: 34px auto 0 0;
  padding-bottom: 5px;
  left: 0;
  text-align: left;
}
@media (max-width: 767px) {
  .results-pagination {
    margin: 0 auto 0;
    text-align: center;
  }
}

.swiper-pagination-bullet[class*=-active] {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #FFF;
  box-shadow: 0 0 0 2px #3E3E3E, 0 0 0 3px #fff;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #FFF;
  margin: 0 10px !important;
}

@media (min-width: 768px) {
  .results__btn {
    margin: 40px 16px 0 0;
  }
}
@media (max-width: 767px) {
  .results__btn {
    text-align: center;
    margin-top: 18px;
  }
}

.view-btn {
  display: inline-block;
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  background: #3E3E3E;
  color: #fff;
  font-weight: 500;
}
.view-btn:hover {
  transition: all 0.3s ease 0s;
  background: #fff;
  color: #3E3E3E;
}
@media (min-width: 768px) {
  .view-btn {
    width: 289px;
    letter-spacing: 4px;
    font-size: 20px;
    padding: 20px 60px;
  }
}
@media (max-width: 767px) {
  .view-btn {
    font-size: 18px;
    letter-spacing: 3.6px;
    padding: 16px 100px;
  }
}

@media (min-width: 768px) {
  .price {
    margin: 118px auto 0;
    max-width: 1040px;
    padding: 0 40px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .price {
    margin: 0 16px;
    padding-top: 44px;
  }
}

.price__title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .price__title {
    font-size: 30px;
  }
}

.price__table {
  border: solid 1px #707070;
  border-collapse: collapse;
  margin-top: 62px;
  width: 100%;
}
@media (max-width: 767px) {
  .price__table {
    margin-top: 43px;
  }
}
.price__table th, .price__table td {
  font-weight: 500;
  padding: 18px 41px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .price__table th, .price__table td {
    font-size: 20px;
    padding: 17px 18px;
  }
}
.price__table th {
  text-align: center;
  background: #3E3E3E;
  color: #fff;
  width: 27.3%;
}
@media (max-width: 767px) {
  .price__table th {
    width: 29.3%;
  }
}
.price__table td {
  background: #fff;
}
.price__table tr:not(:first-child) th {
  border-top: solid 1px #ddd;
}
.price__table tr:not(:first-child) td {
  border-top: solid 1px #707070;
}

.price__copy {
  font-size: 12px;
  margin-top: 10px;
}

.bg__wrapper {
  position: relative;
}
.bg__wrapper:before {
  background: #3e3e3e;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 65px;
  width: 100%;
}
@media (min-width: 768px) {
  .bg__wrapper:before {
    bottom: 138px;
    top: 146px;
    width: 76.5625%;
  }
}

.comments {
  margin-top: 116px;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .comments {
    margin: 54px 16px 0;
  }
}

.comments__title {
  font-size: 36px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .comments__title {
    font-size: 30px;
  }
}

.comments__inner {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.comments__box {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
@media (min-width: 768px) {
  .comments__box {
    flex: 0 1 666px;
    padding: 137px 60px 124px;
  }
}
@media (max-width: 767px) {
  .comments__box {
    padding: 40px 20px 49px;
    width: 100%;
  }
}

.comments__list {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .comments__list {
    margin-top: 54px;
  }
}
@media (max-width: 767px) {
  .comments__list {
    margin-top: 52px;
  }
}

.comments__item {
  display: flex;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-ideograph;
}
@media (max-width: 767px) {
  .comments__item {
    font-size: 14px;
    font-weight: 500;
  }
}
.comments__item:before {
  content: "";
  display: block;
  flex: 0 0 56px;
  height: 56px;
  margin-right: 24px;
}
@media (min-width: 768px) {
  .comments__item:before {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 32px;
  }
}
.comments__item:nth-child(1):before {
  background: url(../img/comments1.png) center center/contain no-repeat;
}
.comments__item:nth-child(2):before {
  background: url(../img/comments2.png) center center/contain no-repeat;
}
.comments__item:not(:first-child) {
  margin-top: 48px;
}
@media (min-width: 768px) {
  .comments__item:not(:first-child) {
    margin-top: 58px;
  }
}

.comments__img {
  margin-top: 80px;
}
@media (max-width: 767px) {
  .comments__img {
    display: none;
  }
}
.comments__img > img {
  width: 100%;
}

.qa {
  background-image: url(../img/qa-bg.png);
  background-position: top center;
  background-size: cover;
  margin-top: 60px;
  padding: 36px 16px 40px;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .qa {
    background-attachment: fixed;
    margin-top: 120px;
    padding: 10px 0 120px;
  }
}
@media (max-width: 767px) {
  .qa {
    padding-bottom: 64px;
  }
}

.qa__title {
  color: #3E3E3E;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .qa__title {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .qa__inner {
    margin: 56px auto 0;
    max-width: 100%;
    width: 1200px;
  }
}
@media (max-width: 767px) {
  .qa__inner {
    margin: 10px auto 0;
  }
}

@media (min-width: 768px) {
  .qa__items {
    width: 612px;
    margin-left: auto;
    max-width: 100%;
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .qa__items {
    margin: 42px auto 0;
    width: 343px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .qa__item:nth-child(n+2) {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .qa__item:nth-child(n+2) {
    margin-top: 24px;
  }
}

.qa-box {
  border: 1px solid #fff;
  background: #fff;
  border-radius: 4px;
}

.qa-box__q {
  font-weight: bold;
  color: #3E3E3E;
  padding: 20px 56px;
  position: relative;
}
@media (max-width: 767px) {
  .qa-box__q {
    padding: 19px 48px;
  }
}
.qa-box__q::before {
  content: "Q";
  position: absolute;
  font-family: "Montserrat", sans-serif;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: #3B69FF;
  color: #fff;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
}
@media (max-width: 767px) {
  .qa-box__q::before {
    left: 9px;
  }
}

.qa-box__icon {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.qa-box__icon.is-open .qa-box__bar2 {
  transform: rotate(90deg);
}
@media (max-width: 767px) {
  .qa-box__icon {
    right: 21px;
  }
}

.qa-box__bar1 {
  position: absolute;
  border-radius: 20px;
  width: 17px;
  height: 2px;
  background: #3B69FF;
  right: 13px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.qa-box__bar2 {
  position: absolute;
  width: 2px;
  height: 17px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-radius: 20px;
  background: #3B69FF;
  transition: all 0.3s ease 0s;
}

.qa-box__a {
  background: rgba(59, 105, 255, 0.2);
  color: #3E3E3E;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 16px 11px 16px;
  padding: 16px;
  display: none;
}
@media (max-width: 767px) {
  .qa-box__a {
    padding: 7px;
  }
}

.add-active {
  display: block;
}

.access {
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .access {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 414px 1fr;
    grid-template-rows: auto 1fr;
    max-width: 1200px;
    margin: 120px auto 0;
  }
}
@media (max-width: 767px) {
  .access {
    padding: 40px 16px 60px;
  }
}

@media (min-width: 768px) {
  .access__inner {
    grid-area: 1/1/2/2;
  }
}

.access__title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-left: 58px;
  padding-top: 4px;
}
@media (max-width: 767px) {
  .access__title {
    font-size: 30px;
    padding-left: 0;
  }
}

.access__address {
  color: #fff;
}
@media (min-width: 768px) {
  .access__address {
    margin-top: 58px;
    padding-left: 58px;
    line-height: 1.5;
  }
}
@media (max-width: 767px) {
  .access__address {
    line-height: 1.4285714286;
    font-size: 14px;
    margin-top: 30px;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .access__map {
    grid-area: 1/2/3/3;
    width: 726px;
    max-width: 100%;
    margin-left: auto;
  }
}

.iframe__wrap {
  width: 100%;
  padding-top: 71.6253443526%;
  position: relative;
}
@media (max-width: 767px) {
  .iframe__wrap {
    padding-top: 70.5882352941%;
    margin-top: 22px;
  }
}
.iframe__wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .access__btn {
    grid-area: 2/1/3/2;
    margin-top: 30px;
    padding-left: 58px;
  }
}
@media (max-width: 767px) {
  .access__btn {
    margin-top: 16px;
  }
}

.map__btn {
  width: 314px;
  display: inline-block;
  padding: 20px 60px;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500;
  background: #3E3E3E;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
}
.map__btn:hover {
  transition: all 0.3s ease 0s;
  background: #fff;
  color: #3E3E3E;
}
@media (max-width: 767px) {
  .map__btn {
    width: 339px;
    padding: 16px 20px;
  }
}

.contact {
  margin-top: 120px;
  background: url(../img/contact-bg.png) no-repeat center center/cover;
  padding: 60px 0;
}
@media (max-width: 767px) {
  .contact {
    margin-top: 0;
    padding-top: 45px;
  }
}

.contact__title__wrap {
  background: url(../img/contact1.png) no-repeat center center/contain;
  height: 196px;
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .contact__title__wrap {
    background: url(../img/contact1.png) no-repeat center center/cover;
    width: 343px;
    max-width: 100%;
    height: 163px;
  }
}

.contact__title {
  color: #fff;
  padding-top: 43px;
}

.contact__copy {
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
}
@media (max-width: 767px) {
  .contact__copy {
    text-align: left;
  }
}

.contact__form {
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
  background: #fff;
  padding: 60px 120px;
}
@media (max-width: 767px) {
  .contact__form {
    padding: 40px 12px;
    width: 343px;
  }
}

.contact-form__row:not(:first-child) {
  margin-top: 37px;
}
@media (max-width: 767px) {
  .contact-form__row:not(:first-child) {
    margin-top: 29px;
  }
}
.contact-form__row:not(:first-child).contact-item__radio {
  margin-top: 41px;
}
.contact-form__row:not(:first-child).contact-item--message {
  margin-top: 26px;
}
@media (min-width: 768px) {
  .contact-form__row:not(.mod-message) {
    display: flex;
  }
}

.contact-form__label {
  align-items: center;
  display: flex;
  flex: 0 0 188px;
  font-weight: bold;
}

.contact-form__select {
  position: relative;
}
@media (max-width: 767px) {
  .contact-form__select {
    margin-top: 15px;
  }
}
.contact-form__select:after {
  border-bottom: solid 2px #3e3e3e;
  border-right: solid 2px #3e3e3e;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 16px;
  top: 14px;
  transform: rotate(45deg);
  width: 8px;
}
@media (max-width: 767px) {
  .contact-form__select:after {
    top: 11px;
  }
}
.contact-form__select select {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff url(../img/select-arrow@2x.png) no-repeat right 12px center/17px 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: none;
  color: inherit;
  font-family: inherit;
  width: 100%;
  cursor: pointer;
  outline: none;
  padding: 0 34px 0 8px;
  height: 40px;
  line-height: 40px;
  transition: box-shadow 0.2s;
}
@media (min-width: 768px) {
  .contact-form__select select {
    width: 180px;
  }
  .contact-form__select select:hover {
    box-shadow: 0 0 4px #4973ff;
  }
}

.contact-focusLine {
  bottom: 1px;
  box-shadow: 0 2px 4px rgba(73, 115, 255, 0.6);
  display: block;
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s;
  width: 100%;
}

.contact-form__input {
  width: calc(100% - 188px);
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .contact-form__input {
    width: 100%;
    margin-top: 5px;
  }
}
.contact-form__input [type=text] {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #707070;
  background: #fff;
  padding: 3px 12px 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  transition: box-shadow 0.2s;
}
.contact-form__input [type=text]:hover, .contact-form__input [type=text]:focus {
  border-color: #4973ff;
  outline: none;
}
.contact-form__input [type=email] {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #707070;
  background: #fff;
  padding: 3px 12px 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  transition: box-shadow 0.2s;
}
.contact-form__input [type=email]:hover, .contact-form__input [type=email]:focus {
  border-color: #4973ff;
  outline: none;
}
.contact-form__input[type=text]:hover + .contact-focusLine, .contact-form__input[type=text]:focus + .contact-focusLine {
  opacity: 1;
}
.contact-form__input[type=email]:hover + .contact-focusLine, .contact-form__input[type=email]:focus + .contact-focusLine {
  opacity: 1;
}

.contact__form-textarea:focus {
  border-color: #4973ff;
  box-shadow: 0 0 4px #4973ff;
}
.contact__form-textarea textarea {
  height: 160px;
  margin-top: 15px;
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  resize: none;
  transition: box-shadow 0.2s;
}
@media (min-width: 768px) {
  .contact__form-textarea textarea {
    height: 200px;
  }
  .contact__form-textarea textarea:hover {
    box-shadow: 0 0 4px #4973ff;
  }
}
@media (max-width: 767px) {
  .contact__form-textarea textarea {
    margin-top: 12px;
  }
}

.contact-inputBox {
  position: relative;
}
@media (min-width: 768px) {
  .contact-inputBox {
    flex: 0 1 100%;
  }
}
@media (max-width: 767px) {
  .contact-inputBox {
    margin-top: 3px;
  }
  .contact-item__radio .contact-inputBox {
    margin-top: 7px;
  }
}

.contact-requireLabel {
  background: #ff4646;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 1.6666666667;
  margin-left: 12px;
  padding: 0;
  text-align: center;
  width: 40px;
}
@media (min-width: 768px) {
  .contact-requireLabel {
    font-size: 12px;
    margin-left: 12px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .contact-requireLabel {
    margin-left: 20px;
  }
}

.contact-form__radio [type=radio] {
  display: none;
}
.contact-form__radio span {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-right: 36px;
  margin-top: 6px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .contact-form__radio span {
    padding-left: 20px;
    margin-bottom: 8px;
    margin-right: 15px;
  }
}
.contact-form__radio span::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
}
.contact-form__radio span::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #3B69FF;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}
.contact-form__radio [type=radio]:checked + span::after {
  display: block;
}

.contact-privacy {
  display: inline-block;
  margin-top: 16px;
}
.contact-privacy input {
  opacity: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}
@media (min-width: 768px) {
  .contact-privacy {
    margin-top: 35px;
  }
}
@media (max-width: 767px) {
  .contact-privacy {
    margin-top: 26px;
  }
}

.contact-privacyLabel {
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding-left: 38px;
  position: relative;
  font-weight: bold;
  padding-top: 4px;
}
@media (min-width: 768px) {
  .contact-privacyLabel {
    font-size: 18px;
    padding-left: 40px;
  }
}
.contact-privacyLabel:before {
  position: absolute;
  background: #fff;
  border: solid 1px #3e3e3e;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  left: 0;
  top: 2px;
  transition: all 0.2s;
}
@media (min-width: 768px) {
  .contact-privacyLabel:before {
    height: 20px;
    width: 20px;
  }
}
@media (max-width: 767px) {
  .contact-privacyLabel:before {
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 768px) {
  .contact-privacyLabel:hover::before {
    border-color: #4973ff;
    box-shadow: 0 0 4px #4973ff;
  }
  .contact-privacyLabel:active::before {
    background-color: rgba(73, 115, 255, 0.2);
    box-shadow: none;
  }
}
.contact-privacyLabel:after {
  content: "";
  border-bottom: solid 2px #4973ff;
  border-left: solid 2px #4973ff;
  display: block;
  width: 12px;
  height: 6px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  transition: all 0.2s;
}
@media (min-width: 768px) {
  .contact-privacyLabel:after {
    left: 4px;
    top: 8px;
  }
}
@media (max-width: 767px) {
  .contact-privacyLabel:after {
    left: 3px;
  }
}

input[type=checkbox]:checked + .contact-privacyLabel:after {
  opacity: 1;
}

.contact-button {
  margin-top: 38px;
  width: 174px;
  display: block;
  max-width: 100%;
  height: 50px;
  background: #FFAA3B;
  color: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 16px 50px;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}
@media (min-width: 1200px) {
  .contact-button:not(:disabled):hover {
    background: #F18900;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 767px) {
  .contact-button {
    padding: 0 1.5em;
    width: 165px;
    font-size: 14px;
    margin: 38px auto 0;
  }
}
.contact-button:disabled {
  background-color: #B2B2B2;
}

.footer {
  background: #3E3E3E;
  padding: 64px 0 56px;
  height: 292px;
}
@media (max-width: 767px) {
  .footer {
    padding: 40px 16px 56px;
    text-align: center;
    height: 395px;
  }
}

.footer-totopLink {
  background: #FFFFFF;
  opacity: 0.8;
  border: solid 1px #3e3e3e;
  bottom: 16px;
  display: block;
  height: 50px;
  position: fixed;
  right: 16px;
  transition: all 0.5s ease 0s;
  width: 50px;
  z-index: 99;
  visibility: hidden;
}
@media (min-width: 768px) {
  .footer-totopLink {
    bottom: 40px;
    right: 40px;
  }
}
.footer-totopLink:after {
  border-right: solid 3px #3e3e3e;
  border-top: solid 3px #3e3e3e;
  content: "";
  display: block;
  height: 15px;
  left: 15px;
  position: absolute;
  top: 20px;
  transform: rotate(-45deg);
  width: 15px;
}
.footer-totopLink.add-scrolled {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .footer__inner {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 120px;
  }
}

.footer__snsList {
  display: flex;
}
@media (max-width: 767px) {
  .footer__snsList {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .footer__snsItem {
    margin-right: 50px;
  }
  .footer__snsItem:last-child {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .footer__snsItem + .footer-snsItem {
    margin-left: 30px;
  }
}

.footer__snsLink {
  color: #fff;
  opacity: 0.6;
  transition: opacity 0.2s;
  font-size: 38px;
}
@media (min-width: 768px) {
  .footer__snsLink:hover {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .footer__snsLink {
    font-size: 40px;
  }
}

.footer__navList {
  margin-top: 36px;
}
@media (max-width: 767px) {
  .footer__navList {
    margin-top: 38px;
  }
}

.footer__navItem:not(:first-child) {
  margin-top: 23px;
}

.footer__navLink {
  color: #fff;
}

@media (min-width: 768px) {
  .footer__company {
    margin-left: auto;
    text-align: right;
  }
}

.footer__companyName {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .footer__companyName {
    font-size: 32px;
    text-align: center;
    margin-top: 44px;
  }
}

.footer__copyright {
  color: #fff;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  opacity: 0.6;
}