@use "common";

.contact {
    margin-top: 120px;
    background: url(../img/contact-bg.png) no-repeat center center / cover;
    padding: 60px 0;

    @include common.mq('sp') {
        margin-top: 0;
        padding-top: 45px;
        
    }
}

.contact__title__wrap {
    background: url(../img/contact1.png) no-repeat center center / contain;
    height: 196px;
    width: 960px;
    max-width: 100%;
    margin: 0 auto;

    @include common.mq('sp') {
        background: url(../img/contact1.png) no-repeat center center / cover;
        width: 343px;
        max-width: 100%;
        height: 163px;
    }
}

.contact__title {
    color: #fff;
    padding-top: 43px;
}

.contact__copy {
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-top: 16px;

    @include common.mq('sp') {
        text-align: left;
    }
}


.contact__form {
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
    background: #fff;
    padding: 60px 120px;

    @include common.mq('sp') {
        padding: 40px 12px;
        width: 343px;
    }

}

.contact-form__row {

    &:not(:first-child) {
        margin-top: 37px;

		@include common.mq('sp') {
			margin-top: 29px;
		}

		&.contact-item__radio {
			margin-top: 41px;
		}

		&.contact-item--message {
			margin-top: 26px;
		}
    }

    &:not(.mod-message) {
		@include common.mq('sp-up') {
			display: flex;
		}
	}

}

.contact-form__label {
    align-items: center;
    display: flex;
	flex: 0 0 188px;
	font-weight: bold;

}

.contact-form__select {
    position: relative;

    @include common.mq('sp') {
        margin-top: 15px;
    }

    &:after {
        border-bottom: solid 2px #3e3e3e;
        border-right: solid 2px #3e3e3e;
        content: '';
        display: block;
        height: 8px;
        position: absolute;
        right: 16px;
        top: 14px;
        transform: rotate(45deg);
        width: 8px;

        @include common.mq('sp') {
            top: 11px;
        }
      }

    select {
        box-shadow: none;
        border: 1px solid #707070;
        background: #fff url(../img/select-arrow@2x.png) no-repeat right 12px center / 17px 14px;
        appearance: none;
        border-radius: none;
        color: inherit;
        font-family: inherit;
        width: 100%;
        cursor: pointer;
        outline: none;
        padding: 0 34px 0 8px;
        height: 40px;
        line-height: 40px;
        transition: box-shadow .2s;

        @include common.mq('sp-up') {
            width: 180px;

            &:hover {
				box-shadow: 0 0 4px #4973ff;
			}
        }

    }
}

.contact-focusLine {
    bottom: 1px;
    box-shadow: 0 2px 4px rgba(73, 115, 255, 0.6);
    display: block;
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity .2s;
    width: 100%;
  }

.contact-form__input {
    width: calc(100% - 188px);
    margin: 0;
    padding: 0;

    @include common.mq('sp') {
        width: 100%;
        margin-top: 5px;
    }

    [type="text"] {
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #707070;
        background: #fff;
        padding: 3px 12px 2px;
        appearance: none;
        border-radius: none;
        color: inherit;
        font-family: inherit;
        font-size: 14px;
        width: 100%;
        transition: box-shadow .2s;

        &:hover, &:focus {
            border-color: #4973ff;
            outline: none;
        }

    }

    [type="email"] {
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #707070;
        background: #fff;
        padding: 3px 12px 2px;
        appearance: none;
        border-radius: none;
        color: inherit;
        font-family: inherit;
        font-size: 14px;
        width: 100%;
        transition: box-shadow .2s;

        &:hover, &:focus {
            border-color: #4973ff;
            outline: none;
        }

    }

    &[type="text"] {
        &:hover,
        &:focus {
            + .contact-focusLine {
                opacity: 1;
            }
        }
    }

    &[type="email"] {
        &:hover,
        &:focus {
            + .contact-focusLine {
                opacity: 1;
            }
        }
    }


}

.contact__form-textarea {

    &:focus {
        border-color: #4973ff;
        box-shadow: 0 0 4px #4973ff;
      }

    textarea {
        height: 160px;
        margin-top: 15px;
        box-shadow: none;
        border: 1px solid #707070;
        background: #fff;
        padding: 10px 16px;
        appearance: none;
        border-radius: none;
        color: inherit;
        font-family: inherit;
        font-size: 14px;
        width: 100%;
        resize: none;
        transition: box-shadow .2s;

        @include common.mq('sp-up') {
            height: 200px;

            &:hover {
                box-shadow: 0 0 4px #4973ff;
            }
        }

        @include common.mq('sp') {
            margin-top: 12px;
        }

    }
}

.contact-inputBox {
	position: relative;

	@include common.mq('sp-up') {
		flex: 0 1 100%;
	}

	@include common.mq('sp') {
		margin-top: 3px;

		.contact-item__radio & {
			margin-top: 7px;
		}
	}
}

.contact-requireLabel {
    background: #ff4646;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    line-height: (20 / 12);
    margin-left: 12px;
    padding: 0;
    text-align: center;
    width: 40px;
  
      @include common.mq('sp-up') {
        font-size: 12px;
        margin-left: 12px;
        padding: 0;
      }
  
      @include common.mq('sp') {
        margin-left: 20px;
      }
  }

.contact-form__radio {
    [type="radio"] {
        display: none;

    }

    span {
        display: inline-block;
        position: relative;
        padding-left: 20px;
        margin-right: 36px;
        margin-top: 6px;
        cursor: pointer;

        @include common.mq('sp') {
            padding-left: 20px;
            margin-bottom: 8px;
            margin-right: 15px;
        }

        &::before {
            content: "";
            width: 12px;
            height: 12px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: #fff;
            border: 1px solid #707070;
            border-radius: 50%;
        }
    
        &::after {
            content: "";
            width: 6px;
            height: 6px;
            background: #3B69FF;
            position: absolute;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            display: none;
        }
    }

    [type="radio"]:checked + span {
        &::after {
            display: block;
        }
    }

}

.contact-privacy {
    display: inline-block;
    margin-top: 16px;

    input {
        opacity: 0;
        margin: 0;
        padding: 0;
        position: absolute;
    }
  
    @include common.mq('sp-up') {
        margin-top: 35px;
    }
  
    @include common.mq('sp') {
        margin-top: 26px;
    }
  }
  
  .contact-privacyLabel {
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding-left: 38px;
    position: relative;
    font-weight: bold;
    padding-top: 4px;
  
      @include common.mq('sp-up') {
          font-size: 18px;
          padding-left: 40px;
      }
  
    &:before {
        position: absolute;
        background: #fff;
        border: solid 1px #3e3e3e;
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        left: 0;
        top: 2px;
        transition: all 0.2s;
  
          @include common.mq('sp-up') {
              height: 20px;
              width: 20px;
          }
  
          @include common.mq('sp') {
              width: 18px;
              height: 18px;
          }
      }
  
      @include common.mq('sp-up') {
          &:hover {
              &::before {
                  border-color: #4973ff;
                  box-shadow: 0 0 4px #4973ff;
              }
          }
  
          &:active {
              &::before {
                  background-color: rgba(73, 115, 255, 0.2);
                  box-shadow: none;
              }
          }
      }
  
    &:after {
        content: '';
        border-bottom: solid 2px #4973ff;
        border-left: solid 2px #4973ff;
        display: block;
        width: 12px;
        height: 6px;
        left: 2px;
        opacity: 0;
        position: absolute;
        top: 6px;
        transform: rotate(-45deg);
        transition: all 0.2s;
  
          @include common.mq('sp-up') {
              left: 4px;
              top: 8px;
          }
  
          @include common.mq('sp') {
              left: 3px;
          }
    }
  }
  
  input[type="checkbox"]:checked + .contact-privacyLabel:after {
    opacity: 1;
  }

.contact-button {
    margin-top: 38px;
    width: 174px;
    display: block;
    max-width: 100%;
    height: 50px;
    background: common.$color-yellow;
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding: 16px 50px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease 0s;

  @include common.mq('pc') {
    &:not(:disabled) {
      &:hover {
        background: #F18900;
        transition: all 0.3s ease 0s;
        }
    }
    }

    @include common.mq('sp') {
        padding: 0 1.5em;
        width: 165px;
        font-size: 14px;
        margin: 38px auto 0;
    }
  
    &:disabled {
      background-color: #B2B2B2;
    }
  }


